google-api-python-client==2.194.0
python-dotenv==1.2.2
isodate==0.7.2
youtube-transcript-api==1.2.4
streamlit==1.56.0
pandas==3.0.2
chromadb==1.5.8
sentence-transformers==5.4.1
google-genai==1.73.1
plotly==6.7.0
protobuf==5.29.6
